




body{
    background-color: #2D4B9A;
    color: #4CBB17;
}
.cabecalho{
    background-color: #ffffff;
    background-color: ;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
}
