




body{
    background-color: #0065b3;
    color: whitesmoke;
}
.cabecalho{
    background-color: #E52521;
    background-color: ;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
}
