




body{
    background-color: #5E6979;
    color: #5e6979;

}
.cabecalho{
    background-color: gainsboro;
    background-color: ;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
}
